.nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	flex-direction: row;
	background: linear-gradient(to top, #fff, rgba(#fff, 0));
	z-index: 5;
	justify-content: center;
	padding-top: $base-spacing-unit;
	@include layer;
}

.nav__link {
	text-transform: uppercase;
	letter-spacing: 4px;
	display: inline-block;
	font-weight: $bold;
	padding: $half-spacing-unit $base-spacing-unit;
	// color: $background-color;
	font-family: $header-font;
	transition: color $transition-easing $transition-speed;
	@include font-size($deci-size);
	&:hover {

		color: darken($action-color, 25%);
	}
}
